
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px #c6beb5;
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(81,215,178);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h1 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

h2 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    padding-top: 20px;
    margin: 0;
    min-height: 70px;
    background: rgb(81,215,178);
    background: linear-gradient(90deg, rgba(81,215,178,1) 0%, rgba(68,79,231,1) 46%, rgba(63,221,219,1) 100%);
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.2rem;
    color: white;
}

button{
    background: rgb(81,215,178);
    border: none;
    width: 50%;
    height: 40px;
    box-shadow: 2px 2px 5px #c6beb5;
}

.gutter-right { 
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

content {
    width: 80%;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: var(--gutter);
    text-align: center;
    margin: 10px;
}
  
footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

li{
    border: solid 0.5px #c6beb5;
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}

.listItem{
    box-shadow: 5px 5px 5px #c6beb5;
}

img {
    max-width: 250px;
    max-height: 200px;
}

a:link {
    color: rgb(68,79,231);
}

a:visited{
    color: rgb(81,215,178);
}
