
body {  
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px #c6beb5;
    --gutter: 30px;
    --footer-height: 25px;
    
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(81,215,178);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h1 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 5;
}

h2 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    padding-top: 20px;
    margin: 0;
    min-height: 70px;
    background: rgb(81,215,178);
    background: linear-gradient(90deg, rgba(81,215,178,1) 0%, rgba(68,79,231,1) 46%, rgba(63,221,219,1) 100%);
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.2rem;
    color: white;
}

button{
    font-family: 'Rock Salt', sans-serif;
    font-size: 0.8rem;
    background: rgb(81,215,178);
    border: none;
    width: 50%;
    height: 40px;
    box-shadow: 2px 2px 5px #c6beb5;
    border-radius: 20px;
}

button:focus {
    outline: none;
    box-shadow: 2px 2px 5px rgb(68,79,231);
}

button:active {
    box-shadow: none;
}

.gutter-right { 
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

content {
    width: 80%;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: var(--gutter);
    text-align: center;
    margin: 10px;
}
  
footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

li{
    border: solid 0.5px #c6beb5;
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}

.listItem{
    box-shadow: 5px 5px 5px #c6beb5;
}

img {
    max-width: 250px;
    max-height: 200px;
}

a:link {
    color: rgb(68,79,231);
}

a:visited {
    color: rgb(81,215,178);
}

table {
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    box-shadow: 3px 3px 8px #c6beb5;
}

th {
    font-style: italic;
    font-weight: 900;
    text-align: left;
    background-color: rgb(81,215,178);
}

th, td {
    padding: 8px;
}

.magical, .grandTot {
    background: linear-gradient(90deg, rgba(81,215,178,1) 0%, rgba(68,79,231,1) 46%, rgba(63,221,219,1) 100%);
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-style: italic;
    }

.price {
    font-style: italic;
    color: #494847
}
.cartIcon{
    max-width: 75px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1;
}
#order, #reset{
    visibility: hidden;
}
input{
    background-color: rgba(81,215,178,0.2);
    margin: 5px;
    border: solid 0.5px rgb(68,79,231);
    border-radius: 10px;
    height: 20px;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 2px 2px 5px rgb(68,79,231);
}